.sconsign.dblite
*.o
*.os
*.a
*.so
*.swp

*.out.*

*~

.DS_Store

*.xcodeproj
.build

information/*
!information/*.c

benchmarks/*
!benchmarks/*.c
!benchmarks/*.h

documentation/html
documentation/man
documentation/curie.tag

a.out

*.gch
