.sconsign.dblite
*.o
*.os
*.a
*.so
*.swp
temporary*
test-socket*
benchmark-*

*.out.*

.DS_Store

*.xcodeproj
build

information/*
!information/*.c

benchmarks/*
!benchmarks/*.c
!benchmarks/*.h

documentation/doxygen

a.out
