#include <windows.h>

1 VERSIONINFO
 FILEVERSION 11,0,0,1
 PRODUCTVERSION 11,0,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080904B0"
        {
            VALUE "CompanyName", "kyuba.org"
            VALUE "FileDescription", "Curie Core Library - Minimalistic Cross-Platform Programming Library"
            VALUE "FileVersion", "11"
            VALUE "InternalName", "libcurie"
            VALUE "LegalCopyright", "Copyright (C) 2008-2010, Kyuba Project Members"
            VALUE "OriginalFilename", "libcurie.11.dll"
            VALUE "ProductName", "Curie Core Library"
            VALUE "ProductVersion", "11"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0809 0x04B0
    }
}
