1 VERSIONINFO
 FILEVERSION 10,0,0,1
 PRODUCTVERSION 10,0,0,1
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "0"
        {
            VALUE "FileDescription", "Curie Library"
            VALUE "FileVersion", "10, 0, 0, 1"
            VALUE "InternalName", "libcurie"
            VALUE "LegalCopyright", "Copyright (C) 2009"
            VALUE "OriginalFilename", "libcurie.10.dll"
            VALUE "ProductName", "Curie Library"
            VALUE "ProductVersion", "10, 0, 0, 1"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x809, 1200
    }
}
