#include <windows.h>

1 VERSIONINFO
 FILEVERSION 10,0,0,1
 PRODUCTVERSION 10,0,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "0"
        {
            VALUE "FileDescription", "Icemake - Curie Build Tool"
            VALUE "FileVersion", "10, 0, 0, 1"
            VALUE "InternalName", "icemake"
            VALUE "LegalCopyright", "Copyright (C) 2009"
            VALUE "OriginalFilename", "icemake.exe"
            VALUE "ProductName", "Icemake"
            VALUE "ProductVersion", "10, 0, 0, 1"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x809, 1200
    }
}
