#include <windows.h>

"icemake" VERSIONINFO
 FILEVERSION 11,0,0,1
 PRODUCTVERSION 11,0,0,1
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "080904B0"
        {
            VALUE "CompanyName", "kyuba.org"
            VALUE "FileDescription", "Icemake - Curie Build Tool"
            VALUE "FileVersion", "11"
            VALUE "InternalName", "icemake"
            VALUE "LegalCopyright", "Copyright (C) 2008-2010, Kyuba Project Members"
            VALUE "OriginalFilename", "icemake.exe"
            VALUE "ProductName", "Icemake"
            VALUE "ProductVersion", "11"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0809 0x04B0
    }
}
